<!-- templates/base/navbar.html -->
{%load i18n %}
<script>
  function Search() {
  //var txt = document.getElementById("get_para");'
  var param = document.getElementById('keyword').value
  location.href = "/search?q="+param;
}
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="{% url 'cms:index' %}">Yasu's Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'cms:index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'cms:aboutme' %}">About me <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'cms:contact_form' %}">Contact</a>
      </li>
      
      <form name="ui" action="{% url 'set_language' %}" method="post">{% csrf_token %}
      <li class="nav-item dropdown active">
        <input name="next" type="hidden" value="{{ redirect_to }}" />
          <input name="language" type="hidden"/>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="navbarDropdown">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_language_info for LANGUAGE_CODE as lang %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          Language
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        {% for language in languages %}
           <li><a href="#" class="dropdown-item" onclick="document.ui.language.value='{{ language.code}}'; document.ui.submit();">{{ language.name_local }}</a></li>                                                                    
        {% endfor %}
       </ul>
       </li>
      </form>
      
    </ul>
    </div>
    
    <div>
    <form class="form-inline my-2 my-lg-0" action="{% url 'cms:search_post' %}" method="GET" >
    <div class="col-xs-1">
      <input class="mr-sm-2 form-control input-sm" placeholder="Search" aria-label="earch" name="q" value="{{ request.GET.q }}" >
      </div>
      <button class="btn  btn-light ">Search</button>
    </form> 
  </div>
</nav>