{% extends "base.html" %}
{%load i18n %}
{%load static%}

{% block title %} {% trans "本サイトについて" %} {{ block.super }}{% endblock %}
{% block description %}{% trans "マイブログです。毎日更新します。" %}{% endblock %}

{% block content %}
<div class="container">
  
  <div class="p-2 bd-highlight">
<h3>自己紹介</h3>
<p>東京都出身 1991年生まれ。社内SEとして半導体メーカの情報システムグループに在籍</p>
<p>趣味：スケートボード・語学</p>

<p>From Tokyo, I'm working in charge of Information System group</p>
<p>I like to play SkateBoard and learn Language</p>

<h3>本サイトについて</h3>
<p>本サイトはDjangoを利用して開発をしています</p>
<p>This site is made by Django Framework</p>
<ul>
  <li>Backend Python</li>
  <li>Framework Django</li>
  <li>DB Sqllite</li>
  <li>Frontend Bootstrap</li>
</ul>
</div>
<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="yasuaki-asano"><a class="LI-simple-link" href='https://jp.linkedin.com/in/yasuaki-asano?trk=profile-badge'>Yasuaki A.</a></div>
</div>


{% endblock %}