
{% load static %}
{%load i18n %}
<!DOCTYPE html>
<html lang="ja">
  <head>
  <meta name="google-site-verification" content="dOM3SQM6J0kWQV8OHrJmX4wbDWTh5eM-qLrRtNCnpzw" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Yasu's Site{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="icon" href="{% static 'cms/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'cms/css/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'cms/css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    {% if GOOGLE_ANALYTICS_TRACKING_ID %}
    {% include 'ga.html' %}
    {% endif %}
  </head>
  <body>
    {% include "base/navbar.html" %}
    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
  <!-- Footer -->
<footer class="page-footer font-small cyan darken-3" >
  <!-- Copyright -->
  <div class="container" >
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">
          <button class="btn btn-dark btn-facebook btn-sm" onclick="location.href = 'https://www.facebook.com/yasuaki.asano.75';"><i class="fa fa-facebook"></i> Facebook</button>
          <button class="btn btn-dark btn-linkedin btn-sm" onclick="location.href = 'https://www.linkedin.com/in/yasuaki-asano';"><i class="fa fa-linkedin"></i> Linkedin</button>
          <button class="btn btn-dark btn-instagram btn-sm" onclick="location.href = 'https://www.instagram.com/yasu_0801/';"><i class="fa fa-instagram"></i> Instagram</button>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
</footer>
</html>